<div style="background-color: yellow; height: 100vh"></div>

<div class="footer center-content">
  <div class="mountain-layer layer-4"></div>
  <div class="mountain-layer layer-3"></div>
  <div class="mountain-layer layer-2"></div>
  <div class="mountain-layer layer-1"></div>

  <div class="footer-text">
    <p>Handcrafted by me <span style="font-weight: bold;">&copy;</span> twentyeighteen</p>
    <p class="center-content">Made with <img src="https://www.vectorlogo.zone/logos/angular/angular-card.png"></p>
  </div>

</div>
