body {
  margin: 0;
}

.perspective-wrap {
  perspective: 10px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Helvetica", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}


.temp-section-divider {
  background-color: #061333;
  height: 100vh;
  z-index: 1;
  position: relative;
}
